@keyframes transitionHeadline{
    0% {opacity: 1;}
    25% {opacity: 1;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}
@keyframes transitionSource{
    0% {opacity: 1;}
    25% {opacity: 1;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}
.news{
    text-align: center;
    margin-top: 6%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
}
.source{
    color: #666;
    margin-bottom: 0;
    font-size: 0.8em;
    animation-name: transitionSource;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.headline{
    animation-name: transitionHeadline;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}