.wthr{
    text-align: right;
    float: right;
    font-family: 'Roboto Condensed';
    padding-right: 2%;
}
hr{
    width: 150px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2%;
}
.forecast{
    margin-top: 0%;
    margin-bottom: 0%;
}
.topIcon{
    width: 15%;
    height: 15%;
    margin-top: 0;
}
.bottomIcon{
    width: 5%;
    height: 5%;
}
.ttemp{
    font-size: 3em;
}
.top{
    margin-bottom: 0%;
}
.attribute{
    font-family: 'Arial';
    color: #757B7D;
    font-size: 0.8em;
}
.colorB{
    color: #D4D4D4;
}
.colorC{
    color: #B3B5B5;
}
.colorD{
    color: #848687;
}
.colorE{
    color: #4A4A4A;
}
