<div class="col-md-4 col-sm-4 col-xs-12 container wthr">
  <p [ngSwitch]="findWeather(tdy[1])" class="top">
    <img src="/assets/svgs/cloudy-day-2.svg" *ngSwitchCase="'partly cloudy day'" class="topIcon">  
    <img src="/assets/svgs/cloudy-night-2.svg" *ngSwitchCase="'partly cloudy night'" class="topIcon">  
    <img src="/assets/svgs/cloudy.svg" *ngSwitchCase="'cloudy'" class="topIcon">
    <img src="/assets/svgs/rainy-6.svg" *ngSwitchCase="'rainy'" class="topIcon">
    <img src="/assets/svgs/day.svg" *ngSwitchCase="'sunny'" class="topIcon">
    <img src="/assets/svgs/snowy-6.svg" *ngSwitchCase="'snowy'" class="topIcon">
    <img src="/assets/svgs/thunder.svg" *ngSwitchCase="'thunder'" class="topIcon">
    <span class="ttemp">{{ tdy[0] }}&deg;</span></p>
  <span class="heading"> WEATHER </span> 
  <hr>
  <p class="forecast" *ngFor="let f of forecasts; let i = index">
    <span *ngIf="i<3">
      {{ f.day }} &nbsp; &nbsp;
      <span [ngSwitch]="findWeather(f.text)">
        <img src="/assets/svgs/cloudy-day-2.svg" *ngSwitchCase="'partly cloudy day'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy-night-2.svg" *ngSwitchCase="'partly cloudy night'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy.svg" *ngSwitchCase="'cloudy'" class="bottomIcon">
        <img src="/assets/svgs/rainy-6.svg" *ngSwitchCase="'rainy'" class="bottomIcon">
        <img src="/assets/svgs/day.svg" *ngSwitchCase="'sunny'" class="bottomIcon">
        <img src="/assets/svgs/snowy-6.svg" *ngSwitchCase="'snowy'" class="bottomIcon">
        <img src="/assets/svgs/thunder.svg" *ngSwitchCase="'thunder'" class="bottomIcon">
      </span> &nbsp; &nbsp;
      {{ f.high }} &nbsp; &nbsp; {{ f.low }}
    </span>
    <span *ngIf="i==3" class="colorB">
      {{ f.day }} &nbsp; &nbsp;
      <span [ngSwitch]="findWeather(f.text)">
        <img src="/assets/svgs/cloudy-day-2.svg" *ngSwitchCase="'partly cloudy day'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy-night-2.svg" *ngSwitchCase="'partly cloudy night'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy.svg" *ngSwitchCase="'cloudy'" class="bottomIcon">
        <img src="/assets/svgs/rainy-6.svg" *ngSwitchCase="'rainy'" class="bottomIcon">
        <img src="/assets/svgs/day.svg" *ngSwitchCase="'sunny'" class="bottomIcon">
        <img src="/assets/svgs/snowy-6.svg" *ngSwitchCase="'snowy'" class="bottomIcon">
        <img src="/assets/svgs/thunder.svg" *ngSwitchCase="'thunder'" class="bottomIcon">
      </span> &nbsp; &nbsp;
      {{ f.high }} &nbsp; &nbsp; {{ f.low }}
    </span>
    <span *ngIf="i==4" class="colorC">
      {{ f.day }} &nbsp; &nbsp;
      <span [ngSwitch]="findWeather(f.text)">
        <img src="/assets/svgs/cloudy-day-2.svg" *ngSwitchCase="'partly cloudy day'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy-night-2.svg" *ngSwitchCase="'partly cloudy night'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy.svg" *ngSwitchCase="'cloudy'" class="bottomIcon">
        <img src="/assets/svgs/rainy-6.svg" *ngSwitchCase="'rainy'" class="bottomIcon">
        <img src="/assets/svgs/day.svg" *ngSwitchCase="'sunny'" class="bottomIcon">
        <img src="/assets/svgs/snowy-6.svg" *ngSwitchCase="'snowy'" class="bottomIcon">
        <img src="/assets/svgs/thunder.svg" *ngSwitchCase="'thunder'" class="bottomIcon">
      </span> &nbsp; &nbsp;
      {{ f.high }} &nbsp; &nbsp; {{ f.low }}
    </span>
    <span *ngIf="i==5" class="colorD">
      {{ f.day }} &nbsp; &nbsp;
      <span [ngSwitch]="findWeather(f.text)">
        <img src="/assets/svgs/cloudy-day-2.svg" *ngSwitchCase="'partly cloudy day'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy-night-2.svg" *ngSwitchCase="'partly cloudy night'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy.svg" *ngSwitchCase="'cloudy'" class="bottomIcon">
        <img src="/assets/svgs/rainy-6.svg" *ngSwitchCase="'rainy'" class="bottomIcon">
        <img src="/assets/svgs/day.svg" *ngSwitchCase="'sunny'" class="bottomIcon">
        <img src="/assets/svgs/snowy-6.svg" *ngSwitchCase="'snowy'" class="bottomIcon">
        <img src="/assets/svgs/thunder.svg" *ngSwitchCase="'thunder'" class="bottomIcon">
      </span> &nbsp; &nbsp;
      {{ f.high }} &nbsp; &nbsp; {{ f.low }}
    </span>
    <span *ngIf="i==6" class="colorE">
      {{ f.day }} &nbsp; &nbsp;
      <span [ngSwitch]="findWeather(f.text)">
        <img src="/assets/svgs/cloudy-day-2.svg" *ngSwitchCase="'partly cloudy day'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy-night-2.svg" *ngSwitchCase="'partly cloudy night'" class="bottomIcon">  
        <img src="/assets/svgs/cloudy.svg" *ngSwitchCase="'cloudy'" class="bottomIcon">
        <img src="/assets/svgs/rainy-6.svg" *ngSwitchCase="'rainy'" class="bottomIcon">
        <img src="/assets/svgs/day.svg" *ngSwitchCase="'sunny'" class="bottomIcon">
        <img src="/assets/svgs/snowy-6.svg" *ngSwitchCase="'snowy'" class="bottomIcon">
        <img src="/assets/svgs/thunder.svg" *ngSwitchCase="'thunder'" class="bottomIcon">
      </span> &nbsp; &nbsp;
      {{ f.high }} &nbsp; &nbsp; {{ f.low }}
    </span>
  </p>
  <span class="attribute">-Icons by amCharts</span>
</div>
