.date {
    font-size: 2.2em;
    color: #999;
    font-family: 'Oswald', sans-serif;
}
.time {
    line-height: 1em;
    font-weight: 100;
    font-size: 4em;
    color: #fff;
}
.clk{
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
sup{
  vertical-align: baseline;
  position: relative;
  top: -0.65em;
  color: #666;
  font-size: 0.5em;
}