<div class="container clk col-md-4 col-sm-4 col-xs-12">
            <div class="date">
               {{ day }}, {{ month }} {{ date }}, {{ year }}
            </div>
            <div class="time">
                <span>{{ hours }}:{{ minutes }}</span>
                <span>
                    <sup>{{ seconds }}</sup>
                </span>
            </div> 
    <app-holidays></app-holidays>
</div>

