<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <app-clock></app-clock>
    <app-weather></app-weather>
</div>
<div class="row">
    <app-calendar></app-calendar>
</div>
<div class="row">
    <app-hello-world></app-hello-world>
</div>
<div class="row">
    <app-news></app-news>
</div>
