@keyframes transition{
    0% {opacity: 1;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 0.75;}
    100% {opacity: 0;}
}
.helloWorld{
    text-align: center;
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 4em;
    animation-name: transition;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
