<div class="title">
	IN HOLIDAYS
	<hr>
	<div class="holidayList" *ngFor="let h of hObject.holidays; let i = index">
			<span *ngIf="i<3">
				<i class="fa fa-calendar-check-o calIcon"></i>
				<span class="holidayEvent">{{ h.holidayEvent }}</span>
				<span class="holidayTime">{{ h.holidayTime }}</span>
			</span>
			<span *ngIf="i==3" class="colorB">
				<i class="fa fa-calendar-check-o calIcon"></i>
				<span class="holidayEvent">{{ h.holidayEvent }}</span>
				<span class="holidayTime">{{ h.holidayTime }}</span>				
			</span>
			<span *ngIf="i==4" class="colorC">
				<i class="fa fa-calendar-check-o calIcon"></i>
				<span class="holidayEvent">{{ h.holidayEvent }}</span>
				<span class="holidayTime">{{ h.holidayTime }}</span>				
			</span>
			<span *ngIf="i==5" class="colorD">
				<i class="fa fa-calendar-check-o calIcon"></i>
				<span class="holidayEvent">{{ h.holidayEvent }}</span>
				<span class="holidayTime">{{ h.holidayTime }}</span>				
			</span>
			<span *ngIf="i==6" class="colorE">
				<i class="fa fa-calendar-check-o calIcon"></i>
				<span class="holidayEvent">{{ h.holidayEvent }}</span>
				<span class="holidayTime">{{ h.holidayTime }}</span>				
			</span>
	</div>
</div>
