.title{
	padding-top: 20px; 
	color: #999;
}
hr{
	margin-top: 0;
	opacity: 0.5;
	width: 320px;
	margin-left: 0;
	padding-bottom: 0px;
}
.holidayList{
	color: #fff;
	font-size: 1.4em;
	padding-right: 4em;
	width: 400px;
}
.calIcon{
	font-size: 15px;
	color: #999;
	margin-right: 0;
}
.holidayEvent{
	text-align: left;
	padding-left: 8px;
}
.holidayTime{
	font-size: 1em;
	margin-right: 0;
	float: right;
	text-align: right;
	color: #666;
}
.colorB{
	color: #D4D4D4;
}
.colorC{
	color: #B3B5B5;
}
.colorD{
	color: #848687;
}
.colorE{
	color: #4A4A4A;
}
